@mixin placeholder() {
    color: $colorDarkBlue;
    opacity: 1;
}

.email {
    background: repeating-linear-gradient(
        -45deg,
        $colorLightBlue,
        $colorLightBlue rem-calc(80),
        $colorDarkBlue rem-calc(80),
        $colorDarkBlue rem-calc(160)
    );
    padding-bottom: rem-calc(50);
    @media($breakpointLarge) {
        padding: rem-calc(0 0 150 0);
    }
    &__title {
        @extend %section-title; 
    }
    &__form {
        text-align: center;
    }
    &__form-field {
        display: inline-block;
        width: percentage(15/30);
        input {
            background: $colorWhite;
            border: none;
            border-radius: 0;
            color: $colorDarkBlue;
            font-family: $mainFontFamily;
            font-size: rem-calc(50);
            padding: rem-calc(10 0 10 5);
            width: 100%;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                @include placeholder();
            }
            &::-moz-placeholder { /* Firefox 19+ */
                @include placeholder();
            }
            &:-ms-input-placeholder { /* IE 10+ */
                @include placeholder();            
            }
            &:-moz-placeholder { /* Firefox 18- */
                @include placeholder();            
            }
            &::placeholder {
                @include placeholder();                            
            }
            @media($breakpointSmallMax) {
                font-size: rem-calc(32);
                padding: rem-calc(10 0 0 5);
            }
        }
    }
    &__form-submit {
        display: inline-block;
        width: percentage(5/30);
        @media($breakpointMedium2Max) {
            width: percentage(7/30);
        }
        @media($breakpointSmallMax) {
            width: percentage(10/30);
        }
        input {
            -webkit-appearance: none;
            background-color: $colorDarkBlue;
            border: none;
            border-radius: 0;
            color: $colorWhite;
            font-family: $mainFontFamily;
            font-size: rem-calc(50);
            padding: rem-calc(10 0 10 5);
            width: 100%;
            @media($breakpointSmallMax) {
                font-size: rem-calc(32);
                padding: rem-calc(10 0 0 5);
            }
        }
    }
    #mc_embed_signup{
        // background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;
    }
}