.ever-upward {
    // height: 75vw;
    color: $colorWhite;
    position: relative;
    &__top-text {
        color: $colorWhite;
        // font-size: rem-calc(50);
        font-size: 6vw;
        padding-top: rem-calc(150);
        position: relative;
        text-align: center;
        z-index: 1;
    }
    &__main-text {
        // font-size: rem-calc(130);
        font-size: 7vw;
        letter-spacing: .05vw;
        line-height: 6.5vw;
        margin: auto;
        padding: rem-calc(100vw 0);
        position: relative;
        text-transform: uppercase;
        width: 80%;
        z-index: 1;
    }
    &__left-side {
        background: repeating-linear-gradient(
            -45deg,
            $colorLightBlue,
            $colorLightBlue rem-calc(30),
            $colorDarkBlue rem-calc(30),
            $colorDarkBlue rem-calc(60)
        );
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: percentage(6/12);
    }
    &__right-side {
        background: repeating-linear-gradient(
            45deg,
            $colorLightBlue,
            $colorLightBlue rem-calc(30),
            $colorDarkBlue rem-calc(30),
            $colorDarkBlue rem-calc(60)
        );
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: percentage(6/12);
    }
}