footer {
    background-color: $colorGray;
    max-height: rem-calc(400);
    padding: rem-calc(130 0 100 0);
    position: relative;
    @media($breakpointSmallMax) {
        padding: rem-calc(32 0 25 0);
    }
    .company-logo {
        text-align: center;
        svg {
            width: 9vw;
        }
    }
    .company-text {
        color: $colorDarkBlue;
        font-size: 3vw;
        text-align: center;
    }
    .links {
        bottom: rem-calc(10);
        left: rem-calc(10);
        position: absolute;
        a {
            color: $colorLightBlue;
            font-size: rem-calc(18);
            margin-right: rem-calc(10);
            text-decoration: none;
            @media($breakpointSmallMax) {
                font-size: rem-calc(12);
            }
        }
    }
}