footer {
    background-color: $colorGray;
    max-height: rem-calc(400);
    padding: 10vw 0 8vw 0;
    position: relative;
    .company__logo {
        text-align: center;
        svg {
            width: 9vw;
        }
    }
    .company__text {
        color: $colorDarkBlue;
        font-size: 3vw;
        text-align: center;
    }
    .links {
        bottom: rem-calc(10);
        left: rem-calc(10);
        position: absolute;
        a {
            color: $colorLightBlue;
            font-size: rem-calc(18);
            margin-right: rem-calc(10);
            text-decoration: none;
        }
    }
}