.social  {
    background-color: $colorDarkBlue;
    &__title {
        @extend %section-title; 
    }
    &__icons {
        padding: rem-calc(0 0 50 0);
        text-align: center;
        .social-icon {
            @extend %social-icon;
            width: span(3 of 15);
        }
        @media($breakpointLarge) {
            padding: rem-calc(0 0 150 0);
        }
    }
    &__line-separator {
        border-bottom: 1px solid $colorWhite;
        margin-left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}