%section-title {
    color: $colorRed;
    font-size: rem-calc(50);
    padding: rem-calc(200 0 200 0);
    text-align: center;
    @media($breakpointMedium2Max) {
        padding: rem-calc(100 0 100 0);
    }
    @media($breakpointSmallMax) {
        font-size: rem-calc(30);
        padding: rem-calc(50 0 50 0);
    }
}

%social-icon {
    display: inline-block;
    svg, img {
        height: 5vw;
        width: 5vw;
        @media($breakpointSmallMax) {
            height: 7vw;
            width: 7vw;
        }
    }
}

%social-icon--small {
    display: inline-block;
    svg, img {
        height: 5vw;
        width: 5vw;
        @media($breakpointSmallMax) {
            height: 7vw;
            width: 7vw;
        }
    }
}

body {
    font-family: $mainFontFamily;
}