// Viewports
$viewportSmall: 480px;
$viewportMedium: 768px;
$viewportLarge: 1120px;

// Breakpoints
$breakpointSmall: "min-width: " + $viewportSmall;
$breakpointSmallMax: "max-width: " + ($viewportSmall - 1);
$breakpointMedium: "min-width: " + $viewportMedium;
$breakpointMediumMax: "max-width: " + ($viewportMedium - 1);
$breakpointLarge: "min-width: " + $viewportLarge;
$breakpointLargeMax: "max-width: " + ($viewportLarge - 1);

$susy: (
  'columns': susy-repeat(12),
  'gutters': 0.25,
  'spread': 'narrow',
  'container-spread': 'narrow'
);

$colorDarkBlue: #171c38;
$colorGray: #dedede;
$colorGray2: #e5e5e5;
$colorLightBlue: #0f57e9;
$colorRed: #ff0000;
$colorWhite: #ffffff;
$mainFontFamily: 'HelveticaLTStd-ExtraComp';